Source: libgtk2-ex-noshrink-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 4)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.7.3
Homepage: http://www.geocities.com/user42_kevin/gtk2-ex-noshrink/index.html

Package: libgtk2-ex-noshrink-perl
Architecture: all
Depends: libgtk2-perl
Description: Non-shrinking container widget for Gtk2-Perl
 Gtk2::Ex::NoShrink holds a single child and imposes a "no shrink"
 policy on the size it requests.  Any request to become smaller is
 ignored, rather its largest-ever requested size is used.
 .
 This is good if small amounts of shrinking cause distracting
 re-layout, or if a widget's actual desired size is data-dependent and
 can't be easily calculated in advance (but will quickly reach a peak
 you'd like it to stick at).
